
*{
    margin: 0;
    padding: 0;
}
:root {
    --white: var(hsl(0, 0%, 100%));
    --light-gray: var(hsl(212, 45%, 89%));
    --grayish-blue: var(hsl(220, 15%, 55%));
    --dark-blue: hsl(218, 44%, 22%);
  }

body{
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container img{
    width: 200px;
    height: auto;
   
}
